body {
	color: #444;
	font-size: 16px;
	line-height: 30px;
	font-family: "Libre Baskerville", Baskerville, serif;
}
a {
	color: #1D51E0;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}
a:visited, a:active {
	/*  color: #071EB5;*/
}
a:hover {
	color: #2E93FF;
	-webkit-transition: color 0.1s ease-out;
	-moz-transition: color 0.1s ease-out;
	-o-transition: color 0.1s ease-out;
	transition: color 0.1s ease-out;
}
/* a {
color: #f66;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}
 */
	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	hr {
		height: 1px;
		margin: 2em;
		border: 0;
		background: #ddd;
	}

	sup {
		vertical-align: super;
		font-size: smaller;
	}

	.col-80 {
		width: 80%;
		margin: 0 auto;
	}

	.col-fixed-800 {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 2em;
	}

	.header {
		padding-top: 2em;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}

	.header-light {
		color: #fff;
	}

	.header-dark {
		color: #444;
	}

	h1 {
		float: left;
		letter-spacing: 0.15em;
		font-size:1.5em;
	}

	h1 a {
		padding: 2em;
		padding-left: 0;
	}

	h1 a,h2 a,.navmenu li a {
		color: inherit;
		text-decoration: none;

		-webkit-transition: color .2s;
		-moz-transition: color .2s;
		-o-transition: color .2s;
		-ms-transition: color .2s;
		transition: color .2s;
	}

	h1 a:hover,h2 a:hover,.navmenu li a:hover {
		/*	color: #f66;*/
		color: #2E93FF;
		text-decoration: none;

		-webkit-transition: color .2s;
		-moz-transition: color .2s;
		-o-transition: color .2s;
		-ms-transition: color .2s;
		transition: color .2s;
	}

	.navmenu {
		float: right;
	}

	.navmenu li {
		float: left;
	}

	.navmenu li a {
		padding: 1em 1em;
	}

	/*.navmenu li a:last-child {
	padding-right: 0;
	}*/

	.postheader {
		height: 300px;
		background-repeat: no-repeat;
		background-position: 50% 0px;

	}

	.post {
		margin: 3em auto;
	}

	h2 {
		width: 75%;
		margin: 0 auto;
		margin-bottom: 0.4em;
		line-height: 1.2em;
		font-weight: 400;
		font-size: 4em;
		text-align: center;
		color: #222;
	}

	.datetime {
		text-align: center;
		font-size: 1.5em;
		color: #ccc;
		font-style: italic;
	}

	.readingtime {
		color: #ccc;
		font-style: italic;
	}

	h3 {
		padding: 1em 0;
		font-size: 1.4em;
		line-height: 1.5em;
	}

	.post p , p {
		padding-top: 1em;
	}

	blockquote p:first-letter {
		text-transform: uppercase;
		float: left;
		margin: .3em .1em 0 .1em;
		font-size: 3em;
	}

	blockquote.smallcap p:first-letter {
		font-size: 1em;
	}

	blockquote,.highlight {
		color: #888;
		background: #f5f5f5;
		background: rgba(0,0,0,0.05);
		margin: 1.5em 0;
		padding: 1em;
		border-left: 3px solid #f66;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}

	.highlight {
		color: #444;
	}

	p img {
		width: 100%;
		max-width: 100%;
	}

	ol li {
		list-style: decimal;
	}

.post	ul, ol {
		padding-top:1em
	}

	.post ul {
		list-style-type: disc;
	}

.post ul li, ol li {
		margin-left: 2.5em;
	}

	ol li p {
		padding: 0 0 1em 0 !important;
	}

	pre {
		font-family: Droid Sans Mono;
		line-height: 1.4em;
		display: block;
		margin:30px;
		-moz-border-radius: 0.3em;
		-webkit-border-radius: 0.3em;
		padding: 0.6em;
	}

	code {
		padding-left: 0.2em;
		padding-right: 0.2em;
		-moz-border-radius: 0.2em;
		-webkit-border-radius: 0.2em;
	}
	/* start footer */
	.icon {
		font-family: 'bbrks_icons';
	}

	#social, .icon{
		font-family:'icomoon';
		font-size:1.7em;
		margin-top:20px; 
	}
	#social a{
		font-weight:normal;
	}
	/* .social {
	font-size: 2em;
	padding: 1em 0;
	float: left;
	position: relative;
	left: 50%;
	text-align: center;
	}

	.social li {
	padding: 0.4em 0;
	display: block;
	float: left;
	position: relative;
	right: 50%;
	}

	.social li a {
	padding: 0.4em;
	color: #ccc;

	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	-ms-transition: color .2s;
	transition: color .2s;
	text-decoration: none;
	}

	.social li a:hover {
	color: #f66;

	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	-ms-transition: color .2s;
	transition: color .2s;
	}
	 */
	.footerseparator {
		width:20%;	
		border-top: 2px solid #dededc;
		margin: 20px auto 0 auto;
	}
	footer {
		padding-bottom: 40px;
		background-color: #fafafe;
		z-index: 10;
		text-align: center;
	}
	footer p {
		/*  color: #fafafe;*/
		color:black;
		text-shadow: none;
		padding-top: 1.8em;
		margin: 0;
	}
	footer a, footer a:visited {
		color: black;
		font-weight:normal;
	}




	.footer {
		text-align: center;
		color: #ccc;
		margin-bottom: 2em;
		overflow: hidden;
	}

	/* end footer */
	.clearfix {
		clear: both;
	}

	.parallax {
		background-attachment: fixed !important;
	}

	::-moz-selection {
		color: #fff;
		background: #66b3ff;
	}

	::selection {
		color: #fff;
		background: #66b3ff;
	}

	@media only screen
	and (max-height : 600px) {

		.postheader {
			height: 210px;
		}

	}

	@media only screen
	and (max-width : 800px) {

		.navmenu li {
			float: none;
			text-align: right;
		}
		.header {
			padding-top:5px;
		}
		.navmenu li a {
			padding: 0;
		}

		.postheader {
			height: 210px;
		}
		.col-fixed-800{
			padding:0 0.5em;
		}
	}

	@media only screen
	and (min-width : 320px)
	and (max-width : 480px) {

		body {
			font-size: 14px;
		}

		h1 {
			font-size: 1.5em;
		}

		.postheader {
			height: 150px;
		}

		h2 {
			font-size: 2em;
		}

	}
